#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

.main-chat {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-timestamp {
  background-color: #92a4b2;
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
  text-align: center;
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: 25px;
}

.main-chat .message-row {
  align-items: flex-start;
}

.message-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.message-row__author {
  display: block;
  margin-bottom: 7px;
}

.message-row__info {
  display: flex;
  align-items: flex-end;
}

.message-row__bubble {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 600;
}

.message-row__author,
.message-row__time {
  opacity: 0.7;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message-row__info {
  flex-direction: row-reverse;
}

.message-row--own .message-row__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}
