#chat-screen {
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
}

@keyframes FadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: FadeIn 0.5s linear;
}

.chat-timestamp {
  background-color: #92a4b2;
  padding: 8px 15px;
  border-radius: 20px;
  color: white;
  text-align: center;
  opacity: 0.7;
  font-size: 14px;
  margin-bottom: 25px;
}

.main-chat .message-row {
  align-items: flex-start;
}

.message-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 15px;
  margin-bottom: 25px;
}

.message-row__author {
  display: block;
  margin-bottom: 7px;
}

.message-row__info {
  display: flex;
  align-items: flex-end;
}

.message-row__bubble {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 600;
}

.message-row__author,
.message-row__time {
  opacity: 0.7;
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message-row__info {
  flex-direction: row-reverse;
}

.message-row--own .message-row__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  margin-right: 0px;
  margin-left: 5px;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 3px 15px;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
}

.reply__column:first-child {
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply__column {
  color: var(--gray-font-color);
}

.reply__column input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: var(--gray-border);
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  bottom: 5px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  width: 28px;
  height: 28px;
  border: 0px;
  border-radius: 50%;
}

.reply__column:last-child > i {
  right: 40px;
  bottom: 10px;
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .reply__column:last-child i,
.reply .reply__column:last-child button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .reply__column:last-child i,
.reply:focus-within .reply__column:last-child button {
  opacity: 0;
}

.reply:focus-within {
  transform: translateY(80px);
}

.reply input:focus {
  width: 97vw;
  /* transform: translateX(-13%); */
  transform: translateX(-13%) translateY(-80px);
}
