#frineds-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px;
}

#frineds-display-link i {
  color: var(--darkgray-font-color);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friend-screen__channel {
  margin-top: 25px;
  border-top: var(--gray-border);
  padding-top: 15px;
}

.friend-screen__channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: var(--gray-font-color);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 140px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1.2s;
}
