.more-screen .icon-row {
  margin-top: 35px;
}
.suggestions {
  margin-top: 50px;
  border-top: var(--gray-border);
  padding-top: 40px;
}

.suggestions__title {
  font-weight: 600;
}

.suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.suggestions__icon-image i {
  font-size: 32px;
  color: white;
}

.suggestions__text {
  font-size: 14px;
}
